<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" name="log4net"/>
  </configSections>
  <log4net>
    <appender type="log4net.Appender.ConsoleAppender" name="Console">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%date %5level [%thread] (%file:%line) - %message%newline"/>
      </layout>
    </appender>
    <appender type="log4net.Appender.RollingFileAppender" name="RollingFile">
      <file value="downloader.log"/>
      <encoding value="utf-8"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <maximumFileSize value="1MB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%date [%thread] %5level (%logger) - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="Console"/>
    </root>
  </log4net>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0.30319"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v2.0.50215"/>
    <supportedRuntime version="v1.1.4322"/>
  </startup>

  </configuration>
